{% assign currentPage = page.url %}

<nav class="navbar" role="primary">
  <ul class="display | menu">
    {% for item in navigation %}
    <li>
      <a href="{{ item.url }}" 
      {% if currentPage == item.url %}aria-current="page"{% endif %}>{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<!--  template element holding a button that needs to be injected when JavaScript is finally available. based on an article by Manuel Matuzovic, https://web.dev/website-navigation/, see also https://kittygiraudel.com/2022/09/30/templating-in-html/ -->

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    <span class="display">Menu</span>
    <svg width="24" height="24" aria-hidden="true">
      <path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</template>