.content-list {
  list-style: none;
  padding-left: var(--space-2xs-l);
  border-left: solid 0.2rem;
  li:not(:first-of-type) h2 {
    margin-top: var(--space-s-l);
  }
  li:not(:first-of-type) h3 {
    margin-top: var(--space-2xs-xs);
  }
}
