.menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-s-l);
  a {
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        color: var(--color-light);
        background-color: var(--color-dark);
        padding: 0.5rem;
        margin: -0.5rem;
        text-decoration: none;
      }
    }
  }
  [aria-current='page'] {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0.5rem;
    margin: -0.5rem;
    text-decoration: none;
  }
  [aria-current='page']:focus {
    outline: double var(--color-dark) 0.5rem;
  }
}
// todo, make a menu for mobile
