@font-face {
  font-family: Authentic;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/AUTHENTICSans-90.woff');
}

@font-face {
  font-family: AuthenticBold;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/AUTHENTICSans-130.woff');
}

@font-face {
  font-family: AlteHaas;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/AlteHaasGroteskBold.ttf');
}
