:root {
  --color-dark: #070a10;
  --color-dark-alt: #15171b;
  --color-light: #f3f3ed;
  --color-highlight: #ffe34c;

  --font-display: AlteHaas, Helvetica, Arial, sans-serif;
  --font-base: Authentic, Helvetica, Arial, sans-serif;
  --font-base-bold: AuthenticBold, Helvetica, Arial, sans-serif;
  --font-mono: monospace;

  --measure: 60ch;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1350,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.69rem, calc(0.61rem + 0.41vw), 0.96rem);
  --step--1: clamp(0.83rem, calc(0.72rem + 0.57vw), 1.2rem);
  --step-0: clamp(1rem, calc(0.84rem + 0.78vw), 1.5rem);
  --step-1: clamp(1.2rem, calc(0.99rem + 1.05vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.16rem + 1.4vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.35rem + 1.87vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.58rem + 2.47vw), 3.66rem);
  --step-5: clamp(2.49rem, calc(1.84rem + 3.25vw), 4.58rem);

  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.42rem + 0.39vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.63rem + 0.58vw), 1.13rem);
  --space-s: clamp(1rem, calc(0.84rem + 0.78vw), 1.5rem);
  --space-m: clamp(1.5rem, calc(1.27rem + 1.17vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.69rem + 1.55vw), 3rem);
  --space-xl: clamp(3rem, calc(2.53rem + 2.33vw), 4.5rem);
  --space-2xl: clamp(4rem, calc(3.38rem + 3.11vw), 6rem);
  --space-3xl: clamp(6rem, calc(5.07rem + 4.66vw), 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.09rem + 0.78vw), 0.75rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.31rem + 0.97vw), 1.13rem);
  --space-xs-s: clamp(0.75rem, calc(0.52rem + 1.17vw), 1.5rem);
  --space-s-m: clamp(1rem, calc(0.61rem + 1.94vw), 2.25rem);
  --space-m-l: clamp(1.5rem, calc(1.03rem + 2.33vw), 3rem);
  --space-l-xl: clamp(2rem, calc(1.22rem + 3.88vw), 4.5rem);
  --space-xl-2xl: clamp(3rem, calc(2.07rem + 4.66vw), 6rem);
  --space-2xl-3xl: clamp(4rem, calc(2.45rem + 7.77vw), 9rem);

  /* Custom pairs */
  --space-2xs-s: clamp(0.5rem, calc(0.19rem + 1.55vw), 1.5rem);
  --space-s-l: clamp(1rem, calc(0.38rem + 3.11vw), 3rem);
  --space-l-2xl: clamp(2rem, calc(0.76rem + 6.21vw), 6rem);
}
